{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_to_do_details'|trans }}{{ toDoList.id }}
{% endblock %}

{% block body %}
    <h1>{{ 'label_title'|trans }} - {{ toDoList.title }}</h1>
    <a href="{{ url('to_do_edit', {'id': toDoList.id}) }}" class="btn btn-primary">{{ 'label_list_manage'|trans }}</a>
    <p>{{ 'list_date_created'|trans }} - {{ toDoList.creation|date('d-m-yy') }}</p>
    <p>
        {{ 'label_tags'|trans }}:
    {% for element in toDoList.tags %}
        <a href="{{ url('list_tag_show', {'id': element.id}) }}">#{{ element.name }}</a>
    {% endfor %}
    </p>
    <hr>
    <h2>{{ 'header_to_do'|trans({'%id%': toDoList.id|default('')}) }}</h2>
    <table>
        <tr>
            <th></th>
            <th>{{ 'label_name'|trans }}</th>
            <th>{{ 'list_element_done'|trans }}</th>
        </tr>
        {% for element in toDoList.listElements %}
            <tr>
                <th>{{ loop.index }}.</th>
                <td>{{ element.content }}</td>
                {% if element.done == 0 %}
                    <td><input type="checkbox" disabled></td>
                {% else %}
                    <td><input type="checkbox" disabled checked></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <hr>
    {% if toDoList.comments|length %}
    <table>
        <tr>
            <th><h3>{{ 'label_comments'|trans }}</h3></th>
            <th>{{ 'label_actions'|trans }}</th>

        </tr>
        {% for element in toDoList.comments %}
            <tr>
                <td>
                    {{ element.comment }}
                </td>
                <td>
                <a href="{{ url('list_comment_edit', {'id': element.id}) }}">
                    <button class="btn btn-secondary">{{ 'label_edit'|trans }}</button>
                </a>
                <a href="{{ url('list_comment_delete', {'id': element.id}) }}">
                     <button class="btn btn-secondary">{{ 'label_delete'|trans }}</button>
                </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
        {% endif %}
    <b>{{ 'title_comment_create'|trans }}</b>
    {{ form_start(form, { method: 'POST', action: url('to_do_show',{'id': toDoList.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save_comment'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('to_do_index') }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
{% endblock %}